@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto.ttf);
}

.wrapper-mail {
    background-color: #E5E5E5;
    padding-bottom: 30px;
}

.header-mail {
    max-width: 600px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: 10px;
}

.header-mail-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-bottom: 10px;
}

.header-mail-bunner {
    padding-top: 22px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 22px;
}

.inline-mail {
    border-top: 1px solid #cccccc;
    max-width: 508px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.header-mail h1 {
    color: #434343;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin: 0;
    margin-bottom: 15px;
}

.header-mail h1 span {
    font-weight: 700;
}

.header-mail h2 {
    color: #434343;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding-bottom: 39px;
}

.header-mail h2 span {
    color: #2A9B28;
}

.body-mail {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.body-mail p {
    color: #434343;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding-top: 16px;
    margin-bottom: 16px;
}

.information-order {
    display: flex;
    justify-content: space-around;
}

.product {
    max-width: 200px;
    margin-right: 25px;
}

.information-order h3 {
    font-size: 14px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.information-order p {
    font-size: 14px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
}

.product-code {
    margin-right: 43px;
}

.product-img {
    padding-left: 45px;
    padding-top: 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
    color: #434343;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

td {
    padding-right: 20px;
}

th {
    font-weight: 400;
    padding-right: 20px;
}

.meil-table {
    max-width: 200px;
}

.body-mail-text {
    width: 100%;
    padding-left: 46px;
}

.body-mail-text h2 {
    margin: 0;
    color: #434343;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.body-mail-text p {
    padding-top: 0;
    font-size: 16px;
    margin-bottom: 0;
}

div .emeil-padding {
    padding-top: 0;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.body-mail-text-wrapper {
    width: 100%;
    display: flex;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr; */
}

.body-mail-text-information h2 {
    color: #434343;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    margin: 0;
    text-align: left;
}

.name {
    width: 22%;
    max-width: 22%;
    min-width: 22%;
}

.table-email {
    margin: 0;
    padding-left: 7%;
    color: #434343;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 37px;
}

.text-table {
    color: #434343;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.table-email>*>tr>* {
    padding-bottom: 3%;
}

.table-wrapper-mobail {
    padding-left: 6%;
    margin-right: 6%;
    display: none;
}

#bolt-mobail {
    font-weight: 700;
}

.table-wrapper-mobail p {
    color: #434343;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0;
    padding-top: 0;
}

.mail-footer-text {
    color: #434343;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.mail-footer-link-wrapper {
    display: flex;
    justify-content: space-between;
    width: 230px;
    margin-right: 16%;
}

.mail-footer-text p {
    color: #434343;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-left: 0;
    margin-bottom: 36px;
}

.mail-footer-link {
    display: inline-block;
}

.table-wrapper-mobail table {
    margin-bottom: 15px;
}

.mail-footer-text {
    padding-left: 7%;
    max-width: 256px;
    margin-right: 9%;
}

.mail-footer-img {
    margin-right: 8%;
}

.mail-footer {
    padding-top: 5px;
    display: flex;
}

@media (max-width: 500px) {
    .table-wrapper-desktop {
        display: none;
    }
    .table-wrapper-mobail {
        display: block;
    }
    .mail-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mail-footer-img {
        margin-right: 0;
    }
    .mail-footer-text {
        padding-left: 7%;
        max-width: 100%;
        margin-right: 9%;
    }
}