.wrapper-mail {
    background-color: #E5E5E5;
}

.header-mail {
    max-width: 600px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header-mail img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-bottom: 10px;
}

.inline-mail {
    border-top: 1px solid #cccccc;
    max-width: 508px;
    margin-left: auto;
    margin-right: auto;
}